[submodule "library/Zend"]
	path = library/Zend
	url = https://github.com/opensolutions/zf1.git
[submodule "library/Git"]
	path = library/Git
	url = https://github.com/AnujRNair/simple-php-git-zf1.git
