@charset "utf-8";

/* ---------- Main Content Header ---------- */

.pic {
    margin-top: 5px;
    min-height: 88px;
    overflow: hidden;
    width: 100%;
}

.pic img {
    float: right;
    max-width: none;
}

/* ---------- Main Content Body ---------- */

.main-content-body-left {
    background: url("/img/patterns/swirl.png") no-repeat scroll right top #FFFFFF;
    border-radius: 7px;
    padding: 0 10px 10px;
    text-align: justify;
}