@charset "utf-8";

/* ---------- Main Content Header ---------- */

.pic {
    background: #FFF;
    height: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.slogan {
    display: none;
}

.slogan:first-child {
    display: block;
}

/* ---------- Main Content Body ---------- */

.main-content-body-left {
    background: url("/img/patterns/swirl.png") no-repeat scroll right top #FFFFFF;
    border-radius: 7px;
    padding: 0 10px 10px;
}

.main-content-body-right {
    background: url("/img/patterns/swirl2.png") no-repeat scroll right top #FFFFFF;
    border-radius: 7px;
    padding: 0 10px 10px;
}

/* Portfolio */

.row-portfolio-text {
    text-align: justify;
}

.main-content-body-left article {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 2px;
}

.main-content-body-left article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.row-portfolio-tags > div {
    background: url(/img/icons/tag.png) no-repeat 0 4px;
    padding: 6px 0 0 30px;
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
}

.row-portfolio-tags a {
    text-decoration: none;
    color: #999;
    margin-right: 8px;
    font-size: 11px;
}

.row-portfolio-tags a:hover {
    color: #36226D;
}

/* Latest Blog */

.row-latest-blog {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.row-latest-blog:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.row-latest-blog > div {
    background: url(/img/icons/chat.png) no-repeat 1px 6px;
    padding: 3px 0 0 30px;
}

.row-latest-blog a {
    color: #241648;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.row-latest-blog a:hover {
    color: #36226D;
    padding-left: 2px;
}

.row-latest-blog-posted {
    font-size: 12px;
    font-weight: normal;
}

/* About */

.row-about {
    border-bottom: 1px solid #CCCCCC;
    color: #241648;
}

.row-about:last-child {
    border-bottom: none;
}

.row-about > div {
    background: url(/img/icons/tick.png) no-repeat 1px 6px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 0 30px;
}


/*
    Tablet portrait and smaller
    Center portfolio images
*/
@media (max-width: 768px) {
    .row-portfolio-image {
        text-align: center;
        margin-bottom: 5px;
    }
    .row-about > div:nth-child(1) {
        border-bottom: 1px solid #CCCCCC;
    }
    .row-about:last-child > div:nth-child(1) {
        border-bottom: none;
    }
}

/*
    Landscape phones and down
    Hide all header hero content and add header styles to the body
*/
@media (max-width: 360px) {
    a.morebutton {
        float: none;
        margin: 5px auto 3px;
    }
}