@charset "utf-8";

/* ---------- Fonts ---------- */

@font-face {
    font-family: Delicious-Bold;
    src: url('/font/delicious/Delicious-Bold.otf?') format('opentype');
}

@font-face {
    font-family: Delicious-BoldItalic;
    src: url('/font/delicious/Delicious-BoldItalic.otf?') format('opentype');
}

@font-face {
    font-family: Delicious-Heavy;
    src: url('/font/delicious/Delicious-Heavy.otf?') format('opentype');
}

@font-face {
    font-family: Delicious-Italic;
    src: url('/font/delicious/Delicious-Italic.otf?') format('opentype');
}

@font-face {
    font-family: Delicious-Roman;
    src: url('/font/delicious/Delicious-Roman.otf?') format('opentype');
}

/* ---------- General ---------- */

*:focus {
    outline: none;
}

img {
    border: none;
}

html, body, #container {
    height: 100%;
}

body {
    background: url(/img/bg.png) #101318 no-repeat center top;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#container {
    min-height: 100%;
    height: auto;
    margin-bottom: -40px;
}

.inner {
    max-width: 960px;
    margin: 0 auto;
}

#push {
    height: 40px;
}

/* ---------- Headings ---------- */

h2 {
    color: #ffffff;
    font-family: Delicious-Bold;
    font-size: 28px;
    margin: 0;
}

.subh2 {
    color: #cccccc;
    font-size: 14px;
    font-family: Delicious-Roman;
    line-height: 18px;
    text-align: justify;
}

h3 {
    line-height: 30px;
    margin-top: 0;
    padding: 5px 0;
}

h1,
h3 {
    font-family: Delicious-Bold;
    font-size: 20px;
    color: #241648;
    border-bottom: 1px solid #241648;
    text-align: justify;
}

h1 a,
h3 a {
    color: #241648;
    text-decoration: none;
}

h1 a:hover,
h3 a:hover {
    color: #36226d;
    text-decoration: none;
}

h4 {
    font-family: Delicious-Bold;
    font-size: 18px;
}

h4 a {
    color: #241648;
    text-decoration: none;
}

h4 a:hover {
    color: #36226d;
}

/* ---------- Blue Buttons ---------- */

ul.buttons {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.button {
    background: #7db9e8;
    background: linear-gradient(to bottom, #9ed0fd 0%, #53a5dc 100%);
    border-radius: 5px;
    border: 1px solid #628fb9;
    height: 26px;
    margin: 3px;
    width: 120px;
    display: block;
    color: #ffffff;
    font-family: Delicious-Bold;
    font-size: 12px;
    line-height: 26px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #215b9b;
}

.button:hover,
.button.active {
    background: linear-gradient(to bottom, #6ab4e5 0%, #308cc0 100%);
    color: #ffffff;
    text-decoration: none;
}

.button span {
    left: 7px;
    position: absolute;
    top: 5px;
}

/* ---------- Header ---------- */

header {
    overflow: hidden;
    padding: 10px 10px 20px;
}

/* ---------- Navigation ---------- */

nav {
    margin-top: 15px;
    float: right;
}

nav ul {
    max-width: 395px;
    margin: 0;
}

nav ul li {
    float: left;
}

nav .active a.button {
    background: linear-gradient(to bottom, #9ed0fd 0%, #5361dc 100%);
}

/* ---------- Main Content ---------- */

#main-content {
    padding: 0 10px;
}

#main-content-header {
    background: url(/img/gradients/shine-top.png) repeat-x 0 0 rgb(65, 77, 98);
    background: url(/img/gradients/shine-top.png) repeat-x 0 0 rgba(65, 77, 98, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    min-height: 100px;
    padding: 15px 15px 10px;
}

#main-content-body {
    background: rgb(65, 77, 98);
    background: url(/img/gradients/shine-bottom.png) repeat-x 0 100% rgba(65, 77, 98, 0.3);
    overflow: hidden;
    padding: 5px 15px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ---------- Footer ---------- */

footer {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    margin-top: -40px;
    overflow: hidden;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #cccccc;
}

footer .inner > div {
    padding: 0 10px;
}

/* ---------- Messages ---------- */

.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px auto;
    padding: 12px 10px 12px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info ul, .success ul, .warning ul, .error ul {
    margin: 0;
    list-style: none;
}

.info {
    color: #00529b;
    background-color: #bde5f8;
    background-image: url('/img/icons/info.png');
}

.success {
    color: #4f8a10;
    background-color: #dff2bf;
    background-image: url('/img/icons/success.png');
}

.warning {
    color: #9f6000;
    background-color: #feefb3;
    background-image: url('/img/icons/attention.png');
}

.error {
    color: #d8000c;
    background-color: #ffbaba;
    background-image: url('/img/icons/error.png');
}

/*
    Tablet portrait and smaller
    Stop floating logo and nav and hide the extra pics in the header
*/
@media (max-width: 780px) {
    #logo {
        float: none;
        text-align: center;
    }

    nav {
        float: none;
    }

    nav ul {
        margin: 0 auto;
        text-align: center;
    }

    nav ul li {
        float: none;
        display: inline-block;
    }

    #main-content-header > .row-fluid > .span2 {
        display: none;
    }
}

/*
    Landscape phones and down
    Hide all header hero content and add header styles to the body
*/
@media (max-width: 480px) {
    #main-content-header {
        display: none;
    }

    #main-content-body {
        background: url(/img/gradients/shine-top.png) repeat-x 0 0 rgb(65, 77, 98);
        background: url(/img/gradients/shine-top.png) repeat-x 0 0 rgba(65, 77, 98, 0.3);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        min-height: 100px;
    }
}

/*
    Portrait phones and down
    Stop floating footer elements
*/
@media (max-width: 360px) {
    #footer-copy {
        float: none;
        text-align: center;
    }

    #footer-rights {
        float: none;
        text-align: center;
    }
}